
<div data-ng-include data-src="'partials/clientsHosting.html'"></div>

<div class="span9">

	<div class="alert alert-success">
	  Manage Hosting Plans here. You can add a new one by editing the plan below.
	  If there already is a plan you can edit it below as well.
	  If you want to have more than one plan just click the "New Plan" button.
	</div>
	<div ng-repeat="plan in hostingPlans" >
		<!--start accordion-->
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{plan.id}}">
						Edit Hosting Details #{{plan.id}}
					</a>
				</div>
				<div id="collapse{{plan.id}}" class="accordion-body collapse">
		      		<div class="accordion-inner">
		        		<form class="form-horizontal">
								<label for="client-id">Client ID:</label>
									<input ng-model="plan.clientId" type="text" class="span2" id="client-id-{{plan.id}}" name="client-id" disabled/>
									<p class="help-block">Stored Client ID</p>
									<label for="record-id">Record ID:</label>
									<input ng-model="plan.id" type="text" class="span2" id="record-id-{{plan.id}}" name="record-id" disabled/>
									<p class="help-block">Stored Record ID</p>
									<label  for="level-id">Level(s):</label>
									<input ng-model="plan.levelId" type="text" class="span6 typeahead" id="level-id-{{plan.id}}" name="level-id" required/>
									<ul class="typeahead dropdown-menu" style="top: 40px; left: 190px; display: none;">
										<li data-value="1"><a href='#'>Level 1</a></li>
										<li data-value="2"><a href='#'>Level 2</a></li>
										<li data-value="3"><a href='#'>Level 3</a></li>
									</ul>
									<p class="help-block">This is the present level of the client account for hosting. eg Rackspace Level 1</p>
									<label for="backuplocation1">Backup Location 1:</label>
									<input ng-model="plan.backuplocation1" type="text" class="span6" id="backuplocation1-{{plan.id}}" name="backuplocation1"/>
									<p class="help-block">eg Server01:/var/www/xyz</p>
									<label for="backuplocation1">Backup Location 2:</label>
									<input ng-model="plan.backuplocation1" type="text" class="span6" id="backuplocation2-{{plan.id}}" name="backuplocation2"/>
									<p class="help-block">eg Server01:/var/www/xyz</p>
									<label for="notes">Notes:</label>
									<textarea ng-model="plan.notes" name="notes" class="span5" id="notes-{{plan.id}}" rows="3" style="width: 500px; height: 197px;"></textarea>
								<div class="form-actions">
									<button ng-click="saveHosting()" type="save" class="save btn-primary" id="save-{{plan.id}}">Save</button>
									<button type="delete" class="delete btn btn-danger">Delete</button>
								</div>
			            </form>
		      		</div>
		    	</div>
			</div>
		</div>
		<!--end accordion-->
	</div>
</div>



