
<div data-ng-include data-src="'partials/clientsQuotes.html'"></div>

<div class="span9">

	<div class="alert alert-success">
	  Manage Quotes. You can see all the related quotes below to the client.
    You can edit them by clicking the edit link. or Make New
	</div>

	<div>
    <pre>1.{{quote.general}}</pre>
    <pre>2.{{quote.includedItems}}</pre>
    <pre>3.{{quote.notIncludedItems}}</pre>
    <pre>4.{{quote.lineitems}}</pre>
    <pre>5.{{quote.assumptions}}</pre>

		<!--start accordion-->
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{{quote.general.id}}">
						Edit Quote details for Project: {{quote.general.project_name}} Total Estimate: ${{quote.general.total}} 
					</a>
				</div>
				<div id="collapse{{quote.general.id}}" class="accordion-body">
		      		<div class="accordion-inner">
		        		<form class="form-horizontal">
                  <label for="client-id">Client ID:</label>
									<input ng-model="clientId" type="text" class="span1" disabled/>
									<p class="help-block">Stored Client ID</p>
									
                  <label for="record-id">Record ID:</label>
									<input ng-model="quote.general.id" type="text" class="span1" disabled/>
                  
                  <label>Project Name</label>
                  {{quote.general.project_name}}
									<input ng-model="quote.general.project_name" type="text" class="span6"/>
									<p class="help-block">enter a name?</p>								
                  
                  <label>Executive Summary</label>
									<input ng-model="quote.general.exec_summary" type="text" class="span6"/>
									<p class="help-block">executive summary...</p>		                 
                  
                  <label>Long Descripton</label>
									<textarea rows="3" ng-model="quote.general.long_description" class="span6"></textarea>
									<p class="help-block">longer...</p>		                 
									
                  <label  for="level-id">Size:</label>
                  <input ng-model="quote.general.size" type="text" class="span2 typeahead"/>
                  <!--@todo make this a model -->
                  <ul class="typeahead dropdown-menu" style="top: 40px; left: 190px; display: none;">
										<li data-value="1"><a href='#'>Level 1</a></li>
										<li data-value="2"><a href='#'>Level 2</a></li>
										<li data-value="3"><a href='#'>Level 3</a></li>
									</ul>                  
 
                  <label>Line Items</label>
                  <p class="help-block">Major Feature | Feature Set | Item | Hours | DOC </p>
                  <div  ng-repeat="lineitem in quote.lineitems" class="controls-row">
                    <input class="span3" type="text" ng-model="lineitem.major_feature">
                    <input class="span3" type="text" ng-model="lineitem.feature_set">
                    <input class="span3" type="text" ng-model="lineitem.item">
                    <input class="span1" type="text" ng-model="lineitem.hours">
                    <input class="span1" type="text" ng-model="lineitem.doc">
                  </div> 
                  <button class='btn' ng-click="addLineItem()">Add Line Item</button>
 
                  <label>What's Included</label>
                  <div  ng-repeat="included in quote.includedItems" class="controls-row">
                    <input id="{{included.id}}" class="span6" type="text" ng-model="included.description">
                  </div> 
                  <button class='btn' ng-click="addIncluded()">Add Included Item</button>
 
                  <label>What's Not Included</label>
                  <div  ng-repeat="notIncluded in quote.notIncludedItems" class="controls-row">
                    <input id="{{notIncluded.id}}" class="span6" type="text" ng-model="notIncluded.description">
                  </div> 
                  <button class='btn' ng-click="addNotIncluded()">Add Not Included Item</button>
  
                  <label>Assumptions</label>
                  <div  ng-repeat="assumed in quote.assumptions" class="controls-row">
                    <input id="{{assumed.id}}" class="span6" type="text" ng-model="assumed.description">
                  </div> 
                  <button class='btn' ng-click="addAssumption()">Add Assumption</button>
                   
                  
                  <label>Environment:</label>
									<input ng-model="quote.general.environment" type="text" class="span1">
                  <input ng-model="quote.environment_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 

                  <label>Concept and Solution:</label>
									<input ng-model="quote.general.concept" type="text" class="span1">
                  <input ng-model="quote.general.concept_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 

                  <label>Testing:</label>
									<input ng-model="quote.general.testing" type="text" class="span1">
                  <input ng-model="quote.general.testing_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 

                  <label>Project Managment:</label>
									<input ng-model="quote.general.pm" type="text" class="span1">
                  <input ng-model="quote.general.pm_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 
 
                  <label>Config:</label>
									<input ng-model="quote.general.config" type="text" class="span1">
                  <input ng-model="quote.general.config_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 
 
                  <label>Training:</label>
									<input ng-model="quote.general.training" type="text" class="span1">
                  <input ng-model="quote.general.training_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 
                                                                      
                  <label>Deployment:</label>
									<input ng-model="quote.general.deployment" type="text" class="span1">
                  <input ng-model="quote.general.deployment_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 
                  
                  <label>Buffer:</label>
									<input ng-model="quote.general.buffer" type="text" class="span1">
                  <input ng-model="quote.general.buffer_total" type="text" class="span1" disabled/>
									<p class="help-block">% to consider...</p> 
                                                                      
                  <label>Total:</label>
									<input ng-model="quote.general.total" type="text" class="span2">
									<p class="help-block">This will update on it's own but feel free to tweak it.</p>                 
                                    
                  <div class="form-actions">
                    <pre>{{clientId}}</pre>
                    <button ng-click="quoteSave()" type="save" class="save btn-primary">Save</button>
                    <button type="delete" class="delete btn btn-danger">Delete</button>
                  </div>
                </form>
		      		</div>
		    	</div>
			</div>
		</div>
		<!--end accordion-->
	</div>
</div>



