<div class="span6" ng-controller='TaskList'>

	<form ng-model="taskform.$">
			      				
		<h4>Quick Filters</h4>
		<div class="controls controls-row">
			<input ng-model="taskform.text" class="span5"  class="input-small" type="text"  placeholder="Words Here..">
			<select class="span6" ng-model="taskform.statuslist" multiple ng-options="t.id as t.name for t in filters.taskStatus"></select>
		</div>
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse1">
					Slower Filters
				</a>
			</div>
			<div id="collapse1" class="accordion-body collapse">
	      		<div class="accordion-inner">
	      			<label>Assigned:</label>
	      			<select class="span6" ng-model="taskform.assigned" multiple ng-options="t.id as t.fname for t in filters.assigned"></select>
	      			
	      			<label>Start and End - Due Date Range</label>
					<input class="span6" ng-model="taskform.startdate" type="date">
					<input class="span6" ng-model="taskform.enddate" type="date">

					<label>Bring Up in Meeting</label>
					<label class="checkbox">
					  <input ng-model="taskform.bringup" type="checkbox">Bring Up in Meeting
					</label>					
					<label>Related Project</label>
					<select multiple data-placeholder="Choose a project..." class="span12 chzn-select" ng-model="taskform.projects"  ng-options="p.name group by p.clientName for p in filters.projects"></select>

					<div class="form-actions">
						<input type="hidden"  ng-model="taskform.posted">
	      				<input type="submit" class="save btn-primary" ng-click="filtersOnSubmit()">
					</div>	      
	      		</div>
	      	</div>
	    </div>
	</form>
	<h1>Tasks</h1>
	<ul class="messagesList">
		<li><span class="title-label span10"><h4>title</h4></span> <span class="span2 created-label"><h4>created</h4></span></li>
		<li ng-repeat="task in taskList | filter:taskform.text">
			<span class="title">
				<span class="label {{ task.level | levelfilter }}">{{ task.level | levelfilter }}</span>
				#{{task.id}} <a href="#/task/{{task.id}}">{{task.name}}</a>
			</span> 
			<span class="date">
				{{ task.created | datefilter | date:'M-d-y hh:mma'}}
			</span>
		</li>
	</ul>
</div>